.profile-container {
    padding: 20px;
    max-width: 600px;
    margin: 60px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .profile-container h2 {
    font-size: 1.8rem;
  }
  
  .profile-details {
    font-size: 16px;
    gap: 10px;
  }
  
  .profile-details p {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .edit-icon {
    background: none;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .edit-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .edit-popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .edit-popup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .edit-popup-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .edit-popup-buttons button {
    color: black;
    border: #eda31a;
    background-color: #e3d7c1;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .edit-popup-buttons button:hover {
    background-color: #eda31a;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .profile-pic-section {
    text-align: center;
    margin-bottom: 30px;
    color: #eda31a;
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
  }